/*Ce sont les codes qui ont stylisé tous les titres dans mon site Web.*/
.titre{
  font-family:"Garamond", serif;
  text-align:center;
  font-size:50px;
  color: white;
}
/*Ce sont les codes qui ont stylisé spécifiquement le poeme*/
#poem{
  font-family:"Garamond", serif;
  text-align: center;
  font-size:24px;
  position: relative; top:50px;
  color: white;
  border: 5px solid white;
  width: 250px;
  height: 250px;
  margin: auto;
}
/* Ce sont les codes qui ont stylise touts les liens du menu*/
.lien{
  font-family:"Garamond", serif;
  font-size: 18px;
  color: white;
}
ul{
  color: white;
  top: 200px;
  margin: 0;
}
/*Ce sont les codes qui ont stylise touts les titres du menu*/
.menu{
  font-family:"Garamond", serif;
  font-size: 24px;
  color: white;
  top: 200px;
  margin: 0;
}
/*Ce sont les codes qui ont stylise specifiquement l'images sur l'acceil*/
#mainimage{
  position: relative;
  bottom: 50px;
  left: 40%;
}
/*Ce sont les codes qui ont stylise touts le paragraphe*/
.para{
  font-family:"Garamond", serif;
  text-align: center;
  font-size: 24px;
  position: relative; top:50px;
  color: white;
  border: 5px solid white;
  width: 400px;
  height: 250px;
  margin: auto;
}
.tab{
  font-family:"Garamond", serif;
  text-align: center;
  font-size: 24px;
  color: white;
  position: relative; top:50px;
}
/*Ce sont les codes qui ont stylise touts les l'arriere plan*/
body {
background: linear-gradient(145deg, rgba(121,9,9,1) 35%, rgba(255,196,0,1) 100%);
	background-size: 400%;
	animation: gradient 10s infinite;
  height: 200vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
