/*Ce sont les codes qui ont stylisé tous les titres dans mon site Web.*/
.titre{
  font-family:"Garamond", serif;
  text-align:center;
  font-size:50px;
  color: white;
}
/*Ce sont les codes qui ont stylisé spécifiquement le poeme*/
#poem{
  font-family:"Garamond", serif;
  text-align: center;
  font-size:24px;
  position: relative; top:50px;
  color: white;
  border: 5px solid white;
  width: 250px;
  height: 250px;
  margin: auto;
}
.lien{
  font-family:"Garamond", serif;
  font-size: 18px;
  color: white;
}
.menu{
  font-family:"Garamond", serif;
  font-size: 24px;
  color: white;
  top: 200px;
  margin: 0;
}
#mainimage{
  position: relative;
  bottom: 100px;
  left: 50%;
}
ul{
  color: white;
  top: 200px;
  margin: 0;
}
body {
background: linear-gradient(145deg, rgba(121,9,9,1) 35%, rgba(255,196,0,1) 100%);
	background-size: 400%;
	animation: gradient 10s infinite;
  height: 100vh;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
